<h1>ダッシュボード</h1>

<h2>達成されていないタスク一覧（本日以降が期限）</h2>
<%= link_to "タスク作成", new_task_path %>
<% if @upcoming_tasks.any? %>
  <ul>
    <% @upcoming_tasks.each do |task| %>
      <li>
        <% if task.priority == true %>
          <span>優先</span>
        <% end %>
        <%= link_to task.content, task_path(task) %> (期限: <%= format_datetime(task.deadline) %>)
        <%= link_to "編集", edit_task_path(task) %>
        <%= button_to "達成報告", complete_task_path(task), method: :patch, data: { confirm: 'このタスクを達成しますか？' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>達成されていないタスクはありません。</p>
<% end %>

<h2>期限を過ぎたタスク</h2>
<% if @outdated_tasks.any? %>
  <ul>
    <% @outdated_tasks.each do |task| %>
      <li>
        <%= link_to task.content, task_path(task) %> (期限: <%= format_datetime(task.deadline) %>)
        <%= link_to "編集", edit_task_path(task) %>
        <%= button_to "達成報告", complete_task_path(task), method: :patch, data: { confirm: 'このタスクを達成しますか？' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>期限を過ぎたタスクはありません</p>
<% end %>

<h2>本日達成したタスク一覧</h2>
<% if @completed_tasks_today.any? %>
  <%= link_to "投稿を作成する", new_timeline_path %>
  <ul>
    <% @completed_tasks_today.each do |task| %>
      <li>
        <%= task.content %>
        <%= button_to "未達成に戻す", incomplete_task_path(task), method: :patch, data: { confirm: 'このタスクを未達成に戻しますか？' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>本日達成したタスクはありません。</p>
<% end %>
