<h1>タスク編集</h1>
<%= form_for @task do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline %>
    
    <%= f.label :priority %>
    <%= f.check_box :priority %>
    
    <%= f.label :image %>
    <%= f.file_field :image %>
    
    <%= f.submit %>
<% end %>
<%= link_to "ダッシュボードに戻る", dashboard_show_path %>
