<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<%= @tasks.each do |task| %>
<%= attachment_image_tag task.user, :profile_image, fallback: "no_image.png" %>
<%= link_to user_path(task.user) do %>
  <%= task.user.username %>
<% end %>
<%= attachment_image_tag task, :image %>
<%= task.content %>
<% end %>
