<h1>タスク作成</h1>
<div class="form">
  <%= form_for @task do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2>タスク作成に失敗しました</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :content, "タスク内容", class: "form-label" %>
      <%= f.text_field :content, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :deadline, "期限", class: "form-label" %>
      <%= f.datetime_local_field :deadline, class: "form-input" %>
      <%= label_tag :today_only, "本日中", class: "form-label" %>
      <%= check_box_tag :today_only, '1', false, id: "today-only" %>
    </div>

    <div class="form-group">
      <%= f.label :priority, "優先", class: "form-label" %>
      <%= f.check_box :priority, class: "form-checkbox" %>
    </div>

    <div class="form-actions">
      <%= link_to "戻る", dashboard_show_path, class: "btn btn-secondary" %>
      <%= f.submit "タスクを作成する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
