<h1>アカウント設定</h1>
<div class="form">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :username, "ユーザー名", class: "form-label" %>
      <%= f.text_field :username, class: "form-input #{'is-invalid' if @user.errors[:username].any?}" %>
      <% if @user.errors[:username].any? %>
        <div class="error-message">
          <%= @user.errors.full_messages_for(:username).join(", ") %>
        </div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.text_field :email, class: "form-input #{'is-invalid' if @user.errors[:email].any?}" %>
      <% if @user.errors[:email].any? %>
        <div class="error-message">
          <%= @user.errors.full_messages_for(:email).join(", ") %>
        </div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= f.label :profile_image, "プロフィール画像", class: "form-label" %>
      <%= f.file_field :profile_image, class: "form-input" %>
    </div>
    
    <div class="form-actions">
      <%= link_to "戻る", request.referer, class: "btn btn-secondary" %>
      <%= f.submit "更新する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
