<h1>パスワード再設定</h1>
<div class="user-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="form-group">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>
  
    <div class="form-actions">
      <%= render "devise/shared/links" %>
      <%= f.submit "パスワード再設定のメールを送る", class: "u-btn u-btn-primary" %>
    </div>
  <% end %>
</div>
