<h1>タイムライン</h1>
<% @tasks.each do |task| %>
  <div class="post">
    <%= attachment_image_tag task.user, :profile_image, fallback: "no_image.png", width: 50, height: 50 %>
    <%= link_to user_path(task.user) do %>
      <%= task.user.username %>
    <% end %>
    <%= attachment_image_tag task, :image, width: 50, height: 50 %>
    <%= task.content %>
  </div>
<% end %>
