<h1>タスク達成投稿の作成</h1>
<div class="form">
  <%= form_with model: @timeline_post, url: timeline_index_path do |f| %>
    <% if @timeline_post.errors.any? %>
      <div id="error_explanation">
        <h2>投稿作成に失敗しました</h2>
        <ul>
          <% @timeline_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :task_ids, "投稿するタスクを選択", class: "form-label" %>
      <%= f.collection_check_boxes :task_ids, @tasks, :id, :content, item_wrapper_class: "task-checkbox-item" do |b| %>
        <%= b.check_box %> <%= b.label %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :content, "コメント", class: "form-label" %>
      <%= f.text_area :content, rows: 4, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :images, "達成画像を追加", class: "form-label" %>
      <%= f.file_field :images, multiple: true, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= link_to "戻る", dashboard_show_path, class: "btn btn-secondary" %>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
