<h1>タスク達成投稿の作成</h1>

<%= form_with model: @timeline_post, url: timeline_index_path do |f| %>
  <div>
    <%= f.label :task_ids, "投稿するタスクを選択" %>
    <%= f.collection_check_boxes :task_ids, @tasks, :id, :content %>
  </div>
  <div>
    <%= f.label :content, "コメント" %>
    <%= f.text_area :content, rows: 3 %>
  </div>
  <div>
    <%= f.label :images, "画像を選択" %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
<%= link_to '戻る', dashboard_show_path %>

