<h1>タスク達成投稿の作成</h1>
<div class="form">
  <%= form_with model: @timeline_post, url: timeline_index_path do |f| %>

    <div class="form-group">
      <%= f.label :task_ids, "投稿するタスクを選択", class: "form-label" %>
      <p class="necessary">※必須</p>
      <%= f.collection_check_boxes :task_ids, @tasks, :id, :content, item_wrapper_class: "task-checkbox-item" do |b| %>
        <div class="checkbox-item">
          <%= b.check_box(class: "task-checkbox #{'is-invalid' if @timeline_post.errors[:task_ids].any?}") %> 
          <%= b.label %>
        </div>
      <% end %>
      <% if @timeline_post.errors[:task_ids].any? %>
        <div class="error-message">
          <%= @timeline_post.errors.full_messages_for(:task_ids).join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :content, "コメント", class: "form-label" %>
      <p class="necessary">※必須</p>
      <%= f.text_area :content, rows: 4, class: "form-input #{'is-invalid' if @timeline_post.errors[:content].any?}" %>
      <% if @timeline_post.errors[:content].any? %>
        <div class="error-message">
          <%= @timeline_post.errors.full_messages_for(:content).join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :images, "達成画像を追加", class: "form-label" %>
      <%= f.file_field :images, multiple: true, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= link_to "戻る", dashboard_show_path, class: "btn btn-secondary" %>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
