<h1>ログイン</h1>
<div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, class: "form-input" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password, "パスワード", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, "パスワードを記憶", class: "form-check-label" %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= render "devise/shared/links" %><br>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
